.main-container {
  max-width: 980px;
  margin: 0 auto;
  padding: 50px 0;
  text-align: center;
}

.main-container .devs {
  margin-top: 50px;

  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 30px;
}

.main-container .dev-card {
  display: flex;
  flex-direction: column;
  text-align: left;
  background-color: #fff;
  border-radius: 4px;
  box-shadow: 0 2px 3px 0 rgba(0, 0, 0, 0.25);
}

.main-container .dev-card-avatar {
  max-width: 100%;
  border-radius: 4px 4px 0 0;
}

.main-container .dev-card-content {
  display: flex;
  flex-direction: column;
  padding: 16px;
  border: 1px solid #ddd;
  border-bottom: 0;
  flex: 1;
}

.main-container .dev-card-username {
  font-size: 14px;
  color: #999;
}

.main-container .dev-card-bio {
  margin-top: 12px;
  font-size: 14px;
}

.main-container .dev-card-actions button {
  width: 50%;
  padding: 8px 0;
  background-color: #fff;
  border: 1px solid #ddd;
  cursor: pointer;
}

.main-container .empty {
  margin-top: 250px;
  font-size: 32px;
  font-weight: bold;
  text-align: center;
}
